<div id="introBubble" class="rounded_panel txt_lightgrey",style="margin-top:30%">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am an early career data scientist with experience in cloud infrastructure, database management and the statistical/machine learning methods of data science. I possess strong coding skills which is informed by a deep understanding of the underlying mathematics. 
			A crucial difference between myself and other talented people in these areas is my communication and sales experience. Throughout my role building a tutoring company as I studied in university, I literally explained challenging concepts 15-20 hours a week for over 3 years. I became well-versed in listening to client feedback, maintaining customer relationships and communicating clearly.
			Get in touch and let’s have a chat about how I could best help your company.
		</div>
		<br>
	</div>
</div>
